<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mapper.ApplyMapper">
    <insert id="insertApply" parameterType="com.lx.POJO.Apply">
        insert into apply(userId,money,reason,applyDate,status,clubId) values (#{userId},#{money},#{reason},now(),0,#{clubId})
    </insert>
    <select id="queryAllByUserId" resultType="com.lx.POJO.Apply">
        select * from apply where userId = #{userId} order by id desc
    </select>
    <select id="getPassCountByApplyId" resultType="java.lang.Integer">
        select count(*) from apply_buffer where applyId = #{applyId}
    </select>
    <select id="queryLastApplyByUserId" resultType="com.lx.POJO.Apply">
        select * from apply where userId = #{userId} order by id desc limit 0,1
    </select>
    <select id="queryCountByUserId" resultType="java.lang.Integer">
        select count(*) from apply where userId = #{userId}
    </select>
    <select id="queryRemApplyByClubId" resultType="com.lx.POJO.Apply">
        select * from apply where clubId = #{clubId} and status = 0 order by id desc
    </select>
    <select id="queryAdminIdByApplyId" resultType="java.lang.Integer">
        select adminId from apply_buffer where applyId = #{applyId}
    </select>
    <update id="rejectApply" parameterType="java.lang.Integer">
        update apply set status = 1 where id = #{applyId}
    </update>
    <delete id="deleteDateInBuffer" parameterType="java.lang.Integer">
        delete from apply_buffer where applyId = #{applyId}
    </delete>
    <select id="getCountByApplyIdInBuffer" resultType="java.lang.Integer">
        select count(*) from apply_buffer where applyId = #{applyId}
    </select>
    <update id="agreeApply" parameterType="java.lang.Integer">
        update apply set status = 2 where id = #{applyId}
    </update>
    <insert id="insertToApplyBuffer">
        insert into apply_buffer(applyId,adminId) values (#{applyId},#{adminId})
    </insert>
    <select id="queryApplyBySAndE" resultType="com.lx.POJO.Apply">
        select * from apply where clubId = #{clubId} order by id desc limit #{start},#{end}
    </select>
</mapper>