<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mapper.UserMapper">
    <select id="queryAll" resultType="User">
        select * from user
    </select>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(userName,password,sex,birthday,address,idCardNum,status,registerTime,clubId)
        values (#{userName},#{password},#{sex},#{birthday},#{address},#{idCardNum},#{status},now(),#{clubId});
    </insert>
    <select id="isHasName" resultType="int">
        select count(*) from user where userName = #{userName}
    </select>
    <select id="queryUserByUserNameAndPsw" resultType="User">
        select * from user where userName = #{userName} and password = #{password}
    </select>
    <select id="queryAdminCount" resultType="java.lang.Integer">
        select count(*) from user where status = 1
    </select>
    <select id="userNotCheckIn" resultType="java.lang.String">
        select userName from user where status = 0 and id not in(select userId from work_time where checkInTime = #{checkInTime})
    </select>
</mapper>